# Ignore compiled Java files
*.class
*.jar

# Ignore configuration files create on MacOS
*/.DS_Store
.DS_Store

# Ignore editor-specific configuration files
.gradle
.vscode
.idea

# Ignore Gradle build output directory
build

# Ignore ruby configuration file
.ruby-version