grant codeBase "file:*/tmp/-" {

};

grant codeBase "file:/Users/mollymoen/Documents/GitHub/java-ide/org-code-javabuilder/lib/bin/-" {
    permission java.security.AllPermission;
    permission java.io.FilePermission "*", "read";
    permission java.lang.RuntimePermission "createClassLoader";
    permission java.lang.RuntimePermission "setContextClassLoader";
};
